{% extends 'CinemaSystemApp/base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/sinopsis.css' %}">
{% endblock %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide container container_Banner my-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/intensamente2-Portada.jpg' %}" class="d-block w-100" alt="imagen1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/pitufos.jpg' %}" class="d-block w-100" alt="imagen2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/wallie.jpg' %}" class="d-block w-100" alt="imagen3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <h1 class="text-white my-5">Cartelera</h1>
    <div class="tarjetas-container">
        {% for film in films %}
        {% if not film.upcoming_releases %}
        <div class="tarjeta">
            <img src="{{ film.image.url }}" class="tarjeta-img" alt="{{ film.name }}">
            <div class="tarjeta-info">
                <h5>{{ film.name }}</h5>
                <p>Duración: {{ film.duration }} min</p>
                <p>Clasificación de Edad: {{ film.age_restriction }}</p>
                <p>Géneros: 
                    {% for genre in film.genres.all %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Formatos: 
                    {% for format in film.format.all %}
                        {{ format.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Fecha de Estreno: {{ film.release_date|date:"d/m/Y" }}</p>
                <button class="btn btn-outline-dark w-100 mb-2" 
                        data-bs-toggle="modal" 
                        data-bs-target="#sinopsisModal" 
                        data-sinopsis="{{ film.synopsis }}">Ver Sinopsis</button>
                <a href="{% url 'showtime:comprar_entradas' film.id_film %}" class="btn btn-danger w-100">Comprar Entradas</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h1 class="text-white my-5">Próximos Estrenos</h1>
    <div class="tarjetas-container">
        {% for film in films %}
        {% if film.upcoming_releases %}
        <div class="tarjeta">
            <img src="{{ film.image.url }}" class="tarjeta-img" alt="{{ film.name }}">
            <div class="tarjeta-info">
                <h5>{{ film.name }}</h5>
                <p>Duración: {{ film.duration }} min</p>
                <p>Clasificación de Edad: {{ film.age_restriction }}</p>
                <p>Géneros: 
                    {% for genre in film.genres.all %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Formatos: 
                    {% for format in film.format.all %}
                        {{ format.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Fecha de Estreno: {{ film.release_date|date:"d/m/Y" }}</p>
                <button class="btn btn-outline-dark w-100 mb-2" 
                        data-bs-toggle="modal" 
                        data-bs-target="#sinopsisModal" 
                        data-sinopsis="{{ film.synopsis }}">Ver Sinopsis</button>
                <a href="{% url 'showtime:comprar_entradas' film.id_film %}" class="btn btn-danger w-100">Comprar Entradas</a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
