<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Cinemas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preload" href="{% static 'styles/styles.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <header class="menu nav-bg">
        <section>
            <div class="img-der2">
                <img src="{% static 'img/film.svg' %}" alt="film">
                <h1>Holiday Cinemas</h1>
            </div>
        </section>

        <div>
            <nav class="navegacion-principal contenedor">
                <div class="img-izq">
                    <a href="#">Cartelera</a>
                    <a href="#">Estrenos</a>
                    <a href="#">Promociones</a>
                    <a href="#">Informacion</a>
                </div>    
                <a class="img-der" href="#">Mi cuenta</a>
            </nav>
        </div>
    </header>

    <main class="cartelera">
        <section class="banner">
            <div class="ubicacion">
                <img src="{% static 'img/banner.svg' %}" alt="banner_img">
                <h2>Banner</h2>
            </div>            
        </section>
    
        <section>
            <h3>Cartelera</h3>
            <input type="submit" value="Villa Carlos Paz">       
        </section>
        <section class="cuadricula">
            {% for film in films %}
                <div class="tarjeta">
                    <div class="cuadro1 centrar">
                        <img src="{{ film.image.url }}" alt="{{ film.name }}">
                    </div>
                    <div class="cuadro2">
                        <h3>{{ film.name }}</h3>
                        <ul>
                            <li>Duración: {{ film.duration }} min</li>
                            <li>Clasificación de edad: {{ film.age_restriction }}</li>
                            <li>Géneros: {{ film.genre }}, {{ film.subgenre }}</li>
                            <li>Formatos: 
                                {% for format in film.formats.all %}
                                    {{ format.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                        <a class="boton" href="#">Ver Sinopsis</a>                
                        <a class="boton2" href="/comprar.html">Comprar entradas</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
    <footer class="centrar"> 
        <h1>Footer</h1>
    </footer>
</body>
</html>
