<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        {% for pelicula in peliculas %}
            <div class="movie">
                <div>
                    <img class="panel left" src="{{ pelicula.imagen.url }}" alt="{{ pelicula.nombre }}">
                </div>
                <div class="panel right"></div>
                <div class="text title">{{ pelicula.nombre }}</div>
                <div class="text detail" id="duracion">{{ pelicula.duracion }} min</div>
                <div class="text detail" id="genero">{{ pelicula.genero }}</div>
                
                <div class="button buy-tickets">Comprar Entradas</div>
                <div class="button synopsis">Ver Sinopsis</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>