{% extends 'CinemaSystemApp/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'styles/admin-tickets.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Lista de Tickets</h1>

        <!-- Barra de búsqueda -->
        <form method="get" action="{% url 'adminpanel:ticket_list' %}">
            <input 
                type="text" 
                name="search" 
                placeholder="Buscar por código de ticket" 
                value="{{ request.GET.search }}" 
                class="search-bar"
            >
            <button type="submit" class="search-button">Buscar</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Código del Ticket</th>
                    <th>Película</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Formato</th>
                    <th>Idioma</th>
                    <th>Entradas</th>
                    <th>Total Pagado</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.ticket_code }}</td>
                    <td>{{ ticket.show.film.name }}</td>
                    <td>{{ ticket.show.show_date |date:"d/m/Y" }}</td>
                    <td>{{ ticket.show.show_time }}</td>
                    <td>{{ ticket.show.format }}</td>
                    <td>{{ ticket.show.language }}</td>
                    <td>{{ ticket.total_tickets }}</td>
                    <td>${{ ticket.total_price }}</td>
                    <td>
                        {% if ticket.status %}
                            <span style="color: green;">No entregado</span>
                        {% else %}
                            <span style="color: red;">Entregado</span>
                        {% endif %}
                    </td>
                    <td>
                        <!-- Botón para marcar como entregado -->
                        <form action="{% url 'adminpanel:mark_as_delivered' ticket.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="mark-delivered">Entregar</button>
                        </form>
                        <!-- Botón para eliminar -->
                        <!-- <form action="{% url 'adminpanel:delete_ticket' ticket.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete">Eliminar</button>
                        </form> -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

{% endblock %}



