{% extends 'CinemaSystemApp/base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'styles/comprar.css' %}">
{% endblock %}

{% block title %}Comprar Entradas{% endblock %}

{% block content %}
<div id="horarios-data" data-horarios='{
    {% for show in shows %}
        "{{ show.show_date|date:"Y-m-d" }}": [
            {% for show_time in show_times %}
                "{{ show_time.show_time|time:"H:i" }}"{% if not forloop.last %}, {% endif %}
            {% endfor %}
        ]{% if not forloop.last %}, {% endif %}
    {% endfor %}
}'></div>

<div class="container my-4">
    <div>
        <h2 class="text-center">{{ film.name }}</h2>   
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="image-container centrar">
                <img src="{{ film.image.url }}" class="img-fluid" alt="Imagen portada">
            </div>
            <div class="text-container my-2">
                {% for genre in film.genres.all %}
                <p class="text-light background-p">{{ genre.name }}</p>
                {% endfor %}
            </div>
        </div>


        <div class="col-md-9 col-sm-9 col-cont">

            <div>
                <p class="linea"></p>
                <div class="mb-3">
                    <div class="row ms-3">
                    <!-- Selección de formato -->
                        <div class="col-md-4 col-sm-4">
                            <select id="format-select" name="format" class="form-select mb-2" aria-label="Selecciona el formato">
                                <option selected disabled>Selecciona el formato</option>
                                {% for format in formats %}
                                    <option value="{{ format.id_format }}" {% if format.id_format|stringformat:"s" == selected_format %}selected{% endif %}>{{ format.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Selección de idioma -->
                        <div class="col-md-4 col-sm-4">
                            <select id="language-select" name="language" class="form-select mb-4" aria-label="Selecciona el idioma">
                                <option selected disabled>Selecciona el idioma</option>
                                {% for language in languages %}
                                    <option value="{{ language.id_language }}" {% if language.id_language|stringformat:"s" == selected_language %}selected{% endif %}>{{ language.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <h5>Días</h5>
                    <div class="row ms-3" id="day-buttons">
                        <!-- Botones de los días -->
                        {% for show in shows %}
                            <button type="button" 
                                    class="btn btn-outline-light bt-box text-center day-button" 
                                    data-day="{{ show.show_date|date:"Y-m-d" }}">
                                {{ show.show_date | date:"l" | capfirst }} {{ show.show_date | date:"d/m" }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
                    
                <div class="mb-3">
                    <h5 id="schedule-title">Horarios disponibles</h5>
                    <div id="schedule-container" class="row ms-4 overflow-auto">
                        <!-- botones de horarios dinámicos con java -->
                    </div>
                </div>
        </div>
    </div>
</div>

{% block scripts %}
<script src="{% static 'JS/compra.js' %}"></script>
{% endblock %}
{% endblock %}
