table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    color: black;
}
button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.mark-delivered {
    background-color: #4CAF50;
    color: white;
}
.delete {
    background-color: #f44336;
    color: white;
}