/*Modificacion en titulos*/
.title-movie{
    font-size: 64px;
}
.title-horarios{
    padding: 5px;
    background-color: rgba(69, 69, 69, 1);
}
.title-sinopsis{
    margin-top: 10px;
    font-size: 36px;
    font-weight: 600;
}

/*largo de la imagen*/
.image-container {
    height: 90%;
}

/*espacio para las categorias*/
.text-container {
    height: 10%;
}

/*categorias*/
.background-p {
    display: inline-block; /*el backgr se va a ajustar texto */
    text-align: center;
    background: rgba(103, 103, 103, 1);
    height: 30px;
    padding: 3px;
    border-radius: 11.48px;
}

/*col-gris*/
/* Scroll vertical para col-md-9 */
.col-cont {
    background-color: rgba(45, 45, 45, 1);
    border-radius: 5px;
    padding: 20px 0px 0px 0px;
    width: 74%;
    max-height: 500px; /* Ajusta este valor según la altura deseada */
    overflow-y: auto; /* Activa el desplazamiento vertical */
    overflow-x: hidden; /* Desactiva el desplazamiento horizontal */
    scrollbar-width: thin; /* Para navegadores compatibles */
    scrollbar-color: rgba(176, 184, 204, 1) transparent; /* Opcional */
}

/* Estilos para la barra de desplazamiento en navegadores Webkit */
.col-cont::-webkit-scrollbar {
    width: 8px;
}

.col-cont::-webkit-scrollbar-thumb {
    background: rgba(176, 184, 204, 1);
    border-radius: 4px;
}

.col-cont::-webkit-scrollbar-track {
    background: transparent;
}

/*estilos de seleccionar formato e idioma*/
.form-select {
    background-color: rgba(50, 55, 65, 1);
    color: rgba(176, 184, 204, 1);
    margin-bottom: 8px;
    max-width: 300px;
    height: 50px;
    padding: 15px 65px 15px 25px;
    border-radius: 8px;
}

/*botones*/
.btn-outline-light {
    max-width: 100px; 
    max-height: 60px;
}

.btn-red {
    background: linear-gradient(180deg, #E5383B 0%, #BA181B 34%, #A4161A 67%, #660708 100%);
    font-size: 21px;
    font-weight: 600;
    line-height: 45px;
    width: 100%; 
    height: 70px;     
    padding: 8px 28px;
    border-radius: 8px;
    margin-top: 20px;
}

/*contenedor boton*/
.bt-box{
    width: 100.23px;
    height: 60.14px;
    gap: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    opacity: 0px;
}

/*contenedor espacio de filtrado*/
#schedule-container{
    margin-top: 20px;
    max-height: 150px;
    overflow-y: auto;
}
.horario-button.selected {
    background-color: #fff;
    color: rgb(0, 0, 0);
}

/*estilos del trailer*/
#video-container {
    height: 600px; 
    overflow: hidden; /* Para evitar el desbordamiento */
}

iframe {
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) and (max-width: 1200px){
    .col-md-3,
    .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .col-md-3 {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
    .col-md-9{
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
    
    .form-select {
        max-width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    /* Ajustar contenedor de horarios para pantallas más pequeñas */
    #schedule-container {
        max-height: 200px;
        overflow-y: auto;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-3,
    .col-md-9 {
        flex: 1; /* Hace que ambas columnas ocupen el mismo ancho */
        max-width: 49%;
    }    
    .form-select {
        max-width: 100%;
        padding: 12px;
        font-size: 16px;
    }
    #schedule-container {
        max-height: 200px;
        overflow-y: auto;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px){
    .col-md-3,
    .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-3 {
        margin-left: auto;
        margin-right: auto;   
        max-width: 300px;     
    }
    .col-md-9 {
        margin-left: auto;
        margin-right: auto;   
        max-width: 510px;     
    }    
    .form-select {
        max-width: 90%;
        font-size: 15px;
        padding: 12px;
    }
}
