.container-confirm {
    max-width: 600px;
    height: auto;
    margin: 70px auto;
    background: linear-gradient(135deg, #1e1e1e 100%, #2c2c2c 100%, #393939 100%);
    padding: 40px;
    border-radius: 8px;
    border: 2px solid #3a3a3a;
    color: #f1f1f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

hr {
    width: 100%;
    height: 0;
    border: none;
    border-top: 1px dashed #c9c9c9 !important;
    margin: 20px 0;
}

.container-confirm h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.container-confirm h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container-confirm p {
    text-align: justify;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.container-confirm strong {
    font-weight: 400;
    font-size: 17px;
}

.container-confirm ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.container-confirm ul li {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
    .container-confirm {
        width: 100%;
        margin: 50px auto;
    }
    .container-confirm h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .container-confirm h2 {
        font-size: 16px;
    }
    .container-confirm p {
        font-size: 14px;
    }
   
}
