/* Contenedor del formulario de registro */
.title-welcome{
    font-size: 32px;
    font-weight: 700;
}
.contenedor-bienvenidos-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.form-group input,
.btn-light {
    box-sizing: border-box;
}

.form-group label {
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.form-group input {
    width: 108%; 
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 10px;
    background: #000;
    color: rgba(167, 167, 167, 1);
    border: 2px solid rgba(167, 167, 167, 1);
}

/* Botón de registro */
.btn-light {
    width: 108%;
    height: 75px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    flex-shrink: 0;
    border-radius: 10px;
}

/* Estilos para el contenedor de beneficios */
.contenedor-beneficios {
    height: 670px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(148, 148, 148, 1);
    margin-top: 24px; 
}

.benefits-box h1,
.benefits-box h2 {
    color: #FFF;
    text-align: center;
}

.benefit img {
    max-width: 100%;
    height: auto;
}

.col-9 h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.col-9 p {
    color: #FFF;
    font-size: 16px;
    max-width: 400px;
}

/* Media Query para pantallas menores a 1400px */
@media (max-width: 1400px) {
    .contenedor-bienvenidos-registro,
    .contenedor-beneficios {
        display: flex; /* Asegura el uso de Flexbox */
        flex-direction: column; /* Apila los elementos en columna */
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */
        margin: 20px auto; /* Centra los contenedores en la página */
        width: 90%; /* Ajusta el ancho relativo */
    }

    .contenedor-bienvenidos-registro h1,
    .contenedor-bienvenidos-registro p {
        text-align: center; /* Centraliza el texto */
    }

    .form-group input,
    .btn-light {
        width: 100%; /* Ocupan todo el ancho disponible */
        max-width: 600px; /* Limita el ancho máximo */
    }

    .contenedor-beneficios {
        height: auto; /* Ajusta la altura según el contenido */
        max-width: 550px;
        padding: 20px; /* Añade un espaciado interno */
    }

    .benefits-box h1,
    .benefits-box h2 {
        font-size: 24px; /* Reduce el tamaño de los textos */
    }

    .benefit img {
        width: 80%; /* Ajusta el ancho de las imágenes */
        max-width: 200px; /* Limita el tamaño máximo */
    }

    .col-9 h3,
    .col-9 p {
        text-align: start; /* Centraliza los textos */
        max-width: 100%; /* Ocupa todo el ancho disponible */
    }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-bienvenidos-registro,
    .contenedor-beneficios {
        display: flex;  /* Asegúrate de que el contenedor sea flex */
        flex-direction: column;  /* Mantener la dirección de flexión como columna */
        align-items: center;  /* Centrar los elementos horizontalmente */
        padding: 10px;  /* Espaciado interior */
        margin-top: 20px;  /* Centrar el contenedor en la pantalla */
        width: 90%;
    }

    .contenedor-bienvenidos-registro h1 {
        font-size: 28px;
    }

    .contenedor-bienvenidos-registro p,
    .form-group label,
    .mt-2 p,
    .mt-2 a {
        font-size: 16px;
    }

    .form-group input{
        width: 100%;  /* Usar 100% del ancho */
    }

    .benefits-box h1 {
        font-size: 28px;
    }

    .benefits-box h2 {
        font-size: 24px;
    }

    .col-9 p {
        font-size: 14px;
    }
}