/* Banner */
.container_Banner {
    max-width: 1166px;
    max-height: 399.825px;
    flex-shrink: 0;
    border-radius: 9.298px;
    overflow: hidden;
    position: relative;
}


/* Cartelera */
.tarjetas-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3px 32px;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: #424242;
    width: 571px;
    display: flex;
    margin-bottom: 32px;
    height: 392px;
    border-radius: 0px 7.386px 7.386px 0px;
    flex-direction: row; /* Asegura el formato horizontal en pantallas grandes */
}

.tarjeta-img {
    width: 274px;
    height: 391px;
    flex-shrink: 0;
}

.tarjeta-info {
    width: 297px;
    padding: 16px;
    height: 391px;
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
    justify-content: space-between; /* Espacio entre el título, la descripción y los botones */
}


/* Botones */
.btn-danger {
    background: linear-gradient(180deg, #E5383B 0%, #BA181B 34%, #A4161A 67%, #660708 100%);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.btn-outline-dark {
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .container_Banner {
        max-width: 100%;
        height: auto;
    }
    .carousel-inner img {
        height: auto;
    }
    .tarjeta {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        width: 80%; /* Ocupa el 100% del ancho */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .tarjeta-img {
        width: 100%; /* La imagen ocupa todo el ancho del contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    }

    .tarjeta-info {
        width: 100%; /* El contenido ocupa todo el ancho del contenedor */
        height: auto; /* La altura se ajusta automáticamente */
        padding: 16px; /* Mantiene el padding */
    }
}
