{% extends 'CinemaSystemApp/base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'styles/style_login.css' %}" />
{% endblock %}

{% block content %}
<main class="container custom-container my-5">
    <div class="row">
        <!-- Columna Izquierda: Registro -->
        <div class="col-md-6 contenedor-bienvenidos-registro">
            <h1 class="titulo-bienvenida">¡Hola de nuevo!</h1>
            <p class="subtitulo-bienvenida my-4">Ingresa colocando los datos que usaste durante tu registro</p>
            <form>
                <div class="form-group">
                    <label for="email" class="mt-2">Correo electrónico</label>
                    <input type="email" class="form-control custom-input" id="email" placeholder="ejemplo@correo.com">
                </div>
                <div class="form-group mt-3">
                    <label for="password" class="mt-2">Contraseña</label>
                    <input type="password" class="form-control custom-input" id="password" placeholder="Ingrese su contraseña">
                </div>
                <button type="submit" class="btn btn-dark btn-ingresar">Ingresar</button>
                <a class="btn btn-outline-dark btn-block btn-registrar mb-5" href="{% url 'login-register:register' %}">Regístrate aquí</a>
            </form>
        </div>
        
        <!-- Columna Derecha: Beneficios -->
        <div class="col-md-6 contenedor-beneficios">
            <div>
                <h1 class="titulo-beneficios">Beneficios de tener una cuenta en <span>Holiday Cinemas</span></h1>
                <div class="row benefit mt-5">
                    <div class="col-3">
                        <img src="{% static 'img/icons/Ticket.svg' %}" alt="Beneficio 1" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <h3 class="titulo-beneficio">Beneficio 1</h3>
                        <p class="descripcion-beneficio">Lorem ipsum dolor sit amet consectetur adipiscing elit ut, torquent eros eleifend ridiculus.</p>
                    </div>
                </div>
                <div class="row benefit mt-3">
                    <div class="col-3">
                        <img src="{% static 'img/icons/tdesign_money.svg' %}" alt="Beneficio 2" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <h3 class="titulo-beneficio">Beneficio 2</h3>
                        <p class="descripcion-beneficio">Lorem ipsum dolor sit amet consectetur adipiscing elit ut, torquent eros eleifend ridiculus.</p>
                    </div>
                </div>
                <div class="row benefit mt-3">
                    <div class="col-3">
                        <img src="{% static 'img/icons/mdi_discount.svg' %}" alt="Beneficio 3" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <h3 class="titulo-beneficio">Beneficio 3</h3>
                        <p class="descripcion-beneficio">Lorem ipsum dolor sit amet consectetur adipiscing elit ut, torquent eros eleifend ridiculus.</p>
                    </div>
                </div>
                <div class="row benefit mt-3">
                    <div class="col-3">
                        <img src="{% static 'img/icons/ph_popcorn-fill.svg' %}" alt="Beneficio 4" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <h3 class="titulo-beneficio">Beneficio 4</h3>
                        <p class="descripcion-beneficio">Lorem ipsum dolor sit amet consectetur adipiscing elit ut, torquent eros eleifend ridiculus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
